.protocollo-chatter-subject {
  font-weight: bold;
}

.protocollo-chatter-subject-i {
  margin-right: 5px;
  margin-left: 5px;
  color: #adb5bd;
}

.o_Message_authorName {
  font-weight: normal !important;
  color: #adb5bd;
}

.error {
  color: #990000;
}

.success {
  color: #007ea6;
}

/*
.history_icon.registra:after {
  content: "\f0a3";
}*/
