.oe_kanban_global_click.fl-mail-client-pec.o_kanban_record {
  background-color: #f3f3f3;
  height: 130px;
}

.fl-mail-client-pec-pec-type {
  color: #8c8c8c;
}

.o_kanban_image_wrapper.fl-mail-client-pec-image-wrapper {

  padding: 5px;
}

.fa.fa-envelope-o.fl-mail-client-pec {
  font-size: 40px;
  color: #007ea6;
}

.fa.fa-check-circle-o.fl-mail-client-pec-consegna {
  font-size: 40px;
  color: #0D5C63;
}

.fa.fa-check-circle-o.fl-mail-client-pec-accettazione {
  font-size: 40px;
  color: #78cdd7;
}

.fa.fa-exclamation-circle.fl-mail-client-pec-errore {
  font-size: 40px;
  color: darkred;
}

.fl-mail-client-pec-date {
  float: left;
  font-size: 11px;
}

.fl-mail-client-pec-mail-subject-hr {
  margin-top: 5px;
  margin-left: 72px;
  margin-bottom: 5px;
}

.fl-mail-client-pec-mail-subject {
}

.fl-mail-client-pec-mail-subject.subject {
  width: 79%;
  margin: 0;
  height: 43px;
  padding: 3px;
  font-size: 12px;
  float: right;
}