/**********************************************************************************
*   Copyright 2020-2022 Flosslab S.r.l.
*   Copyright 2017-2019 MuK IT GmbH
*   License LGPL-3.0 or later (http://www.gnu.org/licenses/lgpl).
**********************************************************************************/

.o_field_widget {
	.fl_field_preview_button {
		border: 0;
	    padding: 0;
		opacity: 0.8;
		cursor: pointer;
		margin: 0 5px 0 2px;
		background: transparent;
		-webkit-appearance: none;
		filter: alpha(opacity=80);
		&:hover , &:focus {
			opacity: 1;
			filter: alpha(opacity=100);
		}
	}
}

.o_field_widget.fl_field_preview {
	width: 100%;
	.fl_field_preview_container {
		height: $fl-web-preview-field-height;
	}
}