.ul_fl_mail_client_state{
  float: right;
  padding: 10px !important;
}

.ul_fl_mail_client_state li{
  display: inline;
  margin-right: 5px;
}

.ul_span_protocolla{
  float: right;
  margin-left: 6px;
}