.protocollo_accordion_toggle {
  cursor: pointer;
  text-transform: uppercase;
  background-color: #ccc;
  color: #fff;
  font-size: 18px !important;
  position: relative;
  padding: 5px 10px;
}
.protocollo_accordion_toggle h4::after {
  content: "+";
}
.protocollo_accordion_toggle h4::after {
  position: absolute;
  right: 0;
  top: 0;
  display: block;
  width: 3em;
  height: 3em;
  line-height: 3;
  text-align: center;
  -webkit-transition: all .35s;
  -o-transition: all .35s;
  transition: all .35s;
}
.protocollo_accordion_toggle.accordion-selected h4::after {
  transform: rotate(315deg);
}
.accordion-content {
  display: none;
}
.accordion-content.accordion-open {
  display: block;
}
