.openerp .oe_stat_button {
  width: auto !important;
}
.openerp .oe_stat_button {
  background-color: #7c7bad;
  color: #fff;
}
.openerp .oe_stat_button:hover {
  background-color: #fff;
  color: #7c7bad;
  font-size: 14px;
}
.openerp .oe_stat_button .stat_button_icon {
  color: #fff;
  font-size: 14px;
}
.openerp .oe_stat_button:hover .stat_button_icon {
  color: #7c7bad;
  font-size: 14px;
}
.openerp .history_icon::after {
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 24px;
  color: #7c7bad;
  font-family: "FontAwesome";
}
.openerp .oe_leftbar > div > div > div > div.oe_secondary_menus_container {
  position: inherit !important;
}
.openerp .history_icon.print::after {
  content: "\f02a";
}
.openerp .history_icon.registration::after {
  content: "\f0a3";
}
.openerp .history_icon.update::after {
  content: "\f044";
}
.openerp .history_icon.upload::after {
  content: "\f093";
}
.openerp .history_icon.taken::after {
  content: "\f087";
}
.openerp .history_icon.sent::after {
  content: "\f199";
}
.openerp .history_icon.refused::after {
  content: "\f05e";
}
.openerp .history_icon.acts::after {
  content: "\f187";
}
.openerp .history_icon.mail::after {
  content: "\f003";
}
.openerp .history_icon.trash::after {
  content: "\f014";
}
.openerp .history_icon.warning::after {
  content: "\f071";
  color: darkorange;
}
.openerp .taballegati .oe_button {
  height: 28px;
}
.openerp .taballegati .oe_form_binary_form button span {
  display: none;
}
.openerp .taballegati .oe_form_binary_file_save_data button span {
  display: none;
}
.openerp .taballegati .oe_form_binary_file_clear span {
  display: none;
}
.openerp th[data-id="pec_invio_status"],
.openerp th[data-id="pec_accettazione_status"],
.openerp th[data-id="pec_consegna_status"],
.openerp th[data-id="pec_errore_consegna_status"],
.openerp td[data-field="pec_invio_status"],
.openerp td[data-field="pec_accettazione_status"],
.openerp td[data-field="pec_consegna_status"],
.openerp td[data-field="pec_errore_consegna_status"] {
  text-align: center;
}
.openerp td[data-field="pec_invio_status"] input,
.openerp td[data-field="pec_accettazione_status"] input,
.openerp td[data-field="pec_consegna_status"] input,
.openerp td[data-field="pec_errore_consegna_status"] input {
  visibility: hidden;
  opacity: 1 !important;
}
.openerp .icon_status {
  width: 30px;
  float: left;
}
.openerp div.icon_status::after {
  font-size: 18px !important;
}
.openerp .icon_item_type div {
  color: #ccc;
  background-color: white;
  border: 1px solid #eee;
  height: 50px;
  width: 50px;
  line-height: 50px;
  overflow: hidden;
}
.openerp .icon_item_type div {
  color: #ccc;
  background-color: white;
  text-align: center;
}
.openerp .icon_item_type div:hover {
  color: white;
  background-color: #aaa;
}
.openerp .icon_status span,
.openerp .icon_item_type span {
  display: none;
}
.openerp .icon_item_type div::after {
  font-family: "FontAwesome";
  font-size: 28px;
  visibility: visible;
  opacity: 1;
}
.openerp .icon_item_type div.individual::after {
  content: "\f007";
}
.openerp .icon_item_type div.legal::after {
  content: "\f0c0";
}
.openerp .icon_item_type div.government::after {
  content: "\f19c";
}
.openerp div.icon_messaggio_status:after,
.openerp td[data-field="pec_invio_status"] input:checked:after,
.openerp .oe_form button[data-name="go_to_messaggio_action"]:after,
.openerp .oe_form button[data-name="go_to_sharedmail_message_action"]:after {
  content: "\f003";
  font-family: "FontAwesome";
  font-size: 28px;
  color: #9ac569;
  visibility: visible;
  opacity: 1;
}
.openerp div.icon_accettazione_status:after,
.openerp td[data-field="pec_accettazione_status"] input:checked::after,
.openerp .oe_form button[data-name="go_to_accettazione_action"]:after {
  content: "\f05d";
  font-family: "FontAwesome";
  font-size: 28px;
  color: #679b41;
  visibility: visible;
  opacity: 1;
}
.openerp div.icon_consegna_status:after,
.openerp td[data-field="pec_consegna_status"] input[type="checkbox"]:checked:after,
.openerp .oe_form button[data-name="go_to_consegna_action"]:after {
  content: "\f05d";
  font-family: "FontAwesome";
  font-size: 28px;
  color: #366732;
  visibility: visible;
  opacity: 1;
}
.openerp div.icon_errore_consegna_status:after,
.openerp td[data-field="pec_errore_consegna_status"] input[type="checkbox"]:checked::after,
.openerp .oe_form button[data-name="go_to_errore_consegna_action"]:after {
  content: "\f06a";
  font-family: "FontAwesome";
  font-size: 28px;
  color: darkred;
  visibility: visible;
  opacity: 1;
}
.openerp div.icon_numero_invii {
  float: right;
  background: #333;
  border-radius: 10px;
  width: 20px;
  height: 20px;
  padding: 2px;
  text-align: center;
  font-weight: bold;
  color: #ccc;
  margin: 2px;
}
.openerp .oe_form td[data-field="go_to_sharedmail_message_action"],
.openerp .oe_form td[data-field="go_to_messaggio_action"],
.openerp .oe_form td[data-field="go_to_accettazione_action"],
.openerp .oe_form td[data-field="go_to_consegna_action"],
.openerp .oe_form td[data-field="go_to_errore_consegna_action"] {
  width: 10%;
}
.openerp .oe_form button[data-name="go_to_sharedmail_message_action"],
.openerp .oe_form button[data-name="go_to_messaggio_action"],
.openerp .oe_form button[data-name="go_to_accettazione_action"],
.openerp .oe_form button[data-name="go_to_consegna_action"],
.openerp .oe_form button[data-name="go_to_errore_consegna_action"] {
  width: 50px;
  border: 1px solid #ccc;
  border-radius: 0;
  height: 50px;
  background: white !important;
}
.openerp .oe_form button[data-name="go_to_sharedmail_message_action"]:hover,
.openerp .oe_form button[data-name="go_to_messaggio_action"]:hover,
.openerp .oe_form button[data-name="go_to_accettazione_action"]:hover,
.openerp .oe_form button[data-name="go_to_consegna_action"]:hover,
.openerp .oe_form button[data-name="go_to_errore_consegna_action"]:hover {
  background: #ccc !important;
}
.openerp .oe_form button[data-name="go_to_sharedmail_message_action"] img,
.openerp .oe_form button[data-name="go_to_messaggio_action"] img,
.openerp .oe_form button[data-name="go_to_accettazione_action"] img,
.openerp .oe_form button[data-name="go_to_consegna_action"] img,
.openerp .oe_form button[data-name="go_to_errore_consegna_action"] img {
  display: none;
}
.openerp .oe_kanban_view .pec_container {
  width: 100% !important;
  padding: 0 5px 0 0 !important;
}
.openerp .oe_kanban_view .item_box {
  float: left;
  display: inline;
  height: 100px;
  background-color: #f3f3f3;
  border: 0;
  min-width: 300px;
  margin: 0 20px 0 0;
  padding: 10px !important;
  position: relative;
}
.openerp .oe_kanban_view .item_box h3,
.openerp .oe_kanban_view .item_box p {
  color: #666;
  margin: 2px 0;
}
.item_box .pec_button_col {
  width: 60px;
}
.item_box .pec_descr_col span {
  width: 50px;
  text-align: center;
  position: absolute;
  top: 10px;
  right: 0;
}
.item_box .pec_descr_col span::after {
  font-family: "FontAwesome";
  color: #666;
  font-size: 18px;
}
.item_box .pec_descr_col span.in::after {
  content: "\f112";
}
.item_box .pec_descr_col span.out::after {
  content: "\f064";
}
.container_sr .oe_kanban_record {
  margin-bottom: 20px !important;
}
.btn_seedoo::before {
  color: #fff;
  font-family: "FontAwesome";
  margin-right: 10px;
}
.btn_confirm_operation::before {
  content: "\f00c";
}
.btn_registra_protocollo::before {
  content: "\f0e3";
}
.btn_annulla_protocollo::before {
  content: "\f014";
}
.btn_presa_in_carico::before {
  content: "\f046";
}
.btn_rifiuta_presa_in_carico::before {
  content: "\f147";
}
.btn_agli_atti::before {
  content: "\f187";
}
.btn_modifica_protocollo::before {
  content: "\f044";
}
.btn_classifica::before {
  content: "\f00b";
}
.btn_aggiungi_classificazione::before {
  content: "\f00b";
}
.btn_modifica_classificazione::before {
  content: "\f00b";
}
.btn_fascicola::before {
  content: "\f115";
}
.btn_aggiungi_fascicolazione::before {
  content: "\f115";
}
.btn_modifica_fascicolazione::before {
  content: "\f115";
}
.btn_assegna::before {
  content: "\f0e8";
}
.btn_invia_pec::before {
  content: "\f003";
}
.btn_aggiungi_destinatario::before {
  content: "\f067";
}
.btn_invia_protocollo::before {
  content: "\f003";
}
.btn_carica_documenti::before {
  content: "\f093";
}
.btn_aggiungi_assegnatari::before {
  content: "\f0e8";
}
.btn_modifica_assegnatari::before {
  content: "\f0e8";
}
.btn_aggiungi_assegnatari_cc::before {
  content: "\f0e8";
}
.protocollo_oggetto .oe_form_text_content {
  color: steelblue;
  font-weight: bold;
}
.btn_rifiuta_presa_in_carico {
  background-color: #f59704 !important;
}
.openerp button.btn_presa_in_carico:hover,
.openerp button.btn_rifiuta_presa_in_carico:hover,
.openerp button.btn_stampa_etichetta:hover {
  background-color: #999 !important;
}
.openerp button.btn_stampa_etichetta {
  background-color: #fff !important;
  color: #666 !important;
  border: 1px solid #aaa !important;
}
.openerp button.btn_stampa_etichetta:before {
  color: #326e38 !important;
}
/**Storico Protocollo**/
.openerp .oe_mail .oe_msg.oe_msg_composer_compact,
.openerp .oe_mail .oe_msg.oe_msg_expandable {
  border: 0;
  background: none;
}
.openerp .oe_mail .oe_msg.oe_msg_notification {
  border: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  background: #eee;
  margin-bottom: 10px;
  padding: 8px;
}
.openerp .oe_mail .oe_msg .oe_msg_content .oe_msg_body * {
  padding-left: 0;
  list-style: none;
}
.openerp .oe_kanban_view .icon_tile {
  display: block;
  padding-top: 5px;
  font-size: 25px;
  text-align: center;
  padding-bottom: 5px;
}
.seedoo-dashboard-container .oe_close {
  display: none;
}
.seedoo-dashboard-container .oe_employee_image {
  margin-bottom: 15px;
}
.seedoo-dashboard-container .oe_kanban_record:hover {
  opacity: 0.7;
  transition: opacity 0.2s linear;
}
.openerp .oe_kanban_view .oe_dashboard_tile .tile_label {
  padding: 5px;
  font-size: 13px !important;
  line-height: 16px;
}
.openerp .oe_kanban_view .oe_dashboard_tile .tile_primary_value {
  font-size: 40px !important;
}
.openerp .oe_kanban_view .oe_dashboard_tile {
  width: 130px !important;
  height: 135px !important;
  min-height: 135px !important;
}
li.badge {
  border-radius: 0;
  /* height: 18px; */
  line-height: 24px !important;
}
.verifica-campi-container li {
  list-style: inside;
}
/*.oe_dashboard_column div.oe_action:nth-child(2), .oe_dashboard_column div.oe_action:nth-child(3),*/
/*.oe_dashboard_column div.oe_action:nth-child(4), .oe_dashboard_column div.oe_action:nth-child(5){*/
/*display: inline-block;*/
/*float: left;*/
/*}*/
.oe_dashboard_column.index_1 div.oe_action:nth-child(1) {
  min-height: 195px;
}
.oe_dashboard_column div.oe_action:nth-child(1) {
  display: block !important;
  float: none !important;
}
.oe_dashboard_column .oe_employee_details {
  width: 310px;
  min-height: 110px;
}
.oe_dashboard_column .oe_employee_details .employee_data_list li {
  margin-bottom: 4px !important;
}
.oe_dashboard_column .oe_employee_details .employee_data_list li strong {
  text-transform: uppercase;
}
.oe_employee_vignette {
  padding: auto;
}
/* Acordeon styles */
.heading-primary {
  font-size: 2em;
  padding: 2em;
  text-align: center;
}
.accordion dl,
.accordion-list {
  border: 1px solid #ddd;
}
.accordion dl:after,
.accordion-list:after {
  content: "";
  display: block;
  height: 1em;
  width: 100%;
  /*background-color:darken(#38cc70, 10%);*/
}
.accordion dd,
.accordion__panel {
  background-color: #eee;
  font-size: 1em;
  line-height: 1.5em;
}
.accordion p {
  padding: 1em 2em 1em 2em;
}
.accordion {
  position: relative;
  background-color: #eee;
}
.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 2em 0 2em 0;
}
.accordionTitle,
.accordion__Heading {
  background-color: #ccc;
  text-align: center;
  font-weight: 700;
  padding: 2em;
  display: block;
  text-decoration: none;
  color: #fff;
  transition: background-color 0.5s ease-in-out;
  /*border-bottom:1px solid darken(#38cc70, 5%);*/
}
.accordionTitle:before,
.accordion__Heading:before {
  content: "+";
  font-size: 1.5em;
  line-height: 0.5em;
  float: left;
  transition: transform 0.3s ease-in-out;
}
/*.accordionTitle:hover,.accordion__Heading: {*/
/*background-color:darken(#38cc70, 10%);*/
/*}*/
.accordionTitleActive,
.accordionTitle.is-expanded {
  /*background-color:darken(#38cc70, 10%);*/
}
.accordionTitleActive:before,
.accordionTitle.is-expanded:before {
  transform: rotate(-225deg);
}
.accordionItem {
  height: auto;
  overflow: hidden;
  /*//SHAME: magic number to allow the accordion to animate*/
  max-height: 50em;
  transition: max-height 1s;
  /*max-height:15em;*/
  /*transition:max-height 0.5s*/
}
.accordionItem.is-collapsed {
  max-height: 0;
}
.no-js .accordionItem.is-collapsed {
  max-height: inherit;
}
.animateIn {
  animation: accordionIn 0.45s normal ease-in-out both 1;
}
.animateOut {
  animation: accordionOut 0.45s alternate ease-in-out both 1;
}
.oe_searchview_section li {
  padding: 0 10px !important;
  border: 1px solid #aaa;
}
.message_header {
  border: dotted 1px #aaa;
  padding: 10px 20px;
}
.body-message-container .oe_form_embedded_html {
  padding: 0 !important;
  background-color: #fff;
}
.body-message-container .oe_form_embedded_html p {
  margin-top: 0px;
}
.openerp .oe_form .oe_form_group .oe_form_group_cell.oe_group_right {
  padding-left: 0 !important;
}
.message_data .oe_form_group_cell {
  border: 0px !important;
}
.message_data .oe_view_manager_header {
  display: none;
}
.message_data .openerp .oe_form_sheet .oe_list {
  overflow-x: initial !important;
}
.openerp .oe_form .oe_avatar_protocollo > img {
  max-height: 800px !important;
  max-width: 800px !important;
}
table.oe_form_group.subject_modify_wizard tr > td {
  padding-right: 25px;
}
.body_mail_message {
  min-height: 150px;
}
.openerp .box-sender-internal {
  background: #f3f3f3;
  height: 100px;
  width: 300px;
  padding: 10px;
  position: relative;
}
.openerp .box-sender-internal .oe_avatar > img {
  height: 50px;
  width: 50px;
  float: left;
}
.openerp .box-sender-internal .oe_form_field_char {
  float: left;
  width: auto;
  padding: 0 10px;
}
.openerp .box-sender-internal > .oe_form_field_char {
  font-style: italic;
  color: #aaa;
}
.openerp .box-sender-internal .btn_rimuovi_mittente {
  position: absolute;
  right: 5px;
  top: 0;
  background: rgba(255, 255, 255, 0.6);
  width: 20px;
  height: 20px;
  padding: 0;
  color: #666;
}
.openerp .box-sender-internal .dep-data {
  float: left;
  width: 180px;
  height: 60px;
}
.openerp .box-sender-internal .dep-data .sender-department:before {
  content: "\f1ad";
  font-family: FontAwesome;
}
.openerp .box-sender-internal .dep-data .sender-employee:before {
  content: "\f007";
  font-family: FontAwesome;
}
.openerp .box-sender-internal .dep-data .oe_form_field {
  font-weight: bold;
  color: #666;
}
.oe_kanban_card.oe_kanban_global_click.oe_archivio_protocollo {
  border-radius: 0 !important;
  min-width: 400px;
  min-height: 105px !important;
}
.oe_kanban_card.oe_kanban_global_click.oe_archivio_protocollo ul.oe_dropdown_menu.oe_opened {
  right: 0;
  left: auto !important;
  width: 80%;
}
.oe_kanban_card.oe_kanban_global_click.oe_archivio_protocollo .oe_dropdown_toggle.oe_dropdown_kanban {
  background-color: transparent !important;
  width: 100%;
  position: absolute;
  text-align: right;
  height: 100px;
  line-height: 70px;
}
.oe_kanban_card.oe_kanban_global_click.oe_archivio_protocollo a.oe_kanban_action.oe_kanban_action_a {
  height: 30px;
  line-height: 30px;
}
.oe_kanban_card.oe_kanban_global_click.oe_archivio_protocollo .oe_dropdown_kanban:before {
  content: "\f187";
  font-size: 30px;
  color: #555;
}
.oe_kanban_card.oe_kanban_global_click.oe_archivio_protocollo.is_current_true .oe_dropdown_kanban:before {
  color: #326e38;
}
.oe_kanban_card.oe_kanban_global_click.oe_archivio_protocollo .oe_kanban_action_button {
  height: 35px;
  width: 100px;
  position: absolute;
}
.oe_kanban_card.oe_kanban_global_click.oe_archivio_protocollo .archivio-protocolli-totali {
  height: 40px;
  line-height: 40px;
}
.oe_kanban_card.oe_kanban_global_click.oe_archivio_protocollo .archivio-protocolli-actions {
  margin-bottom: 10px;
  height: 25px;
}
td.sender_internal_name span.oe_form_char_content {
  font-weight: bold !important;
}
div.box-sender-internal .icon_item_type div:hover {
  color: #ccc;
  background-color: white;
}
.oe_clear.ui-tabs.ui-widget.ui-widget-content.ui-corner-all.protocollo_form_tabs {
  border-bottom: 1px solid #ddd;
  min-height: 220px;
  margin-top: 30px;
}
.openerp .oe_notebook > li.ui-state-active > a.ui-tabs-anchor {
  color: #666 !important;
}
.openerp .oe_kanban_view a.protocollo_attachments_box > div {
  transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
}
.openerp .oe_kanban_view a.protocollo_attachments_box:hover > div {
  background-color: #ccc;
}
.openerp .oe_kanban_view a.protocollo_sr_box,
.openerp .oe_kanban_view a.protocollo_dossier_box {
  display: block;
}
.openerp .oe_kanban_view a.protocollo_sr_box .oe_kanban_table,
.openerp .oe_kanban_view a.protocollo_dossier_box .oe_kanban_table {
  min-height: 85px;
}
.openerp .oe_kanban_view h6.dossier_title {
  text-transform: uppercase;
  font-size: 10px;
  color: #999;
}
.openerp .oe_kanban_view a.protocollo_dossier_box h6.dossier_title:before {
  content: "\f115";
  font-family: FontAwesome;
  font-size: 24px;
  color: #ccc;
  background-color: white;
  border: 1px solid #eee;
  height: 40px;
  width: 37px;
  padding: 4px 7px;
  float: left;
  margin-right: 5px;
  margin-bottom: 30px;
  overflow: hidden;
}
.openerp .oe_kanban_view a.protocollo_sr_box:hover,
.openerp .oe_kanban_view a.protocollo_dossier_box:hover {
  background-color: #ccc;
  transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
}
.openerp .oe_kanban_view a.protocollo_attachments_box .item_box {
  width: 200px;
}
.openerp .oe_kanban_view a.protocollo_attachments_box .item_box h3 {
  font-size: 12px;
  margin-bottom: 0;
  padding-bottom: 0;
}
.openerp .oe_kanban_view a.protocollo_attachments_box .item_box p {
  margin: 0;
  padding: 0;
}
.openerp .oe_kanban_view a.protocollo_attachments_box .icon_item_type i.fa {
  font-size: 32px;
  line-height: 44px;
}
.protocollo_dossier_container .oe_kanban_buttons button.oe_kanban_button_new.oe_highlight {
  background: steelblue !important;
  margin: 12px 0 18px 2px;
  min-width: 180px;
}
.oe_protocollo_chatter .oe_msg_email {
  display: none !important;
}
.oe_protocollo_chatter .oe_msg_title {
  padding-right: 30px;
}
.protocollo_form_tabs ul.ui-tabs-nav li a {
  text-transform: uppercase;
  font-size: 14px;
  background: #ededed;
}
.protocollo_form_tabs ul.ui-tabs-nav li a:before {
  font-family: FontAwesome;
}
.protocollo_form_tabs ul.ui-tabs-nav li:nth-child(1) a:before {
  content: "\f007";
}
.protocollo_form_tabs ul.ui-tabs-nav li:nth-child(2) a:before {
  content: "\f007";
}
.protocollo_form_tabs ul.ui-tabs-nav li:nth-child(3) a:before {
  content: "\f0e8";
}
.protocollo_form_tabs ul.ui-tabs-nav li:nth-child(4) a:before {
  content: "\f00b";
}
.protocollo_form_tabs ul.ui-tabs-nav li:nth-child(5) a:before {
  content: "\f115";
}
.protocollo_form_tabs ul.ui-tabs-nav li:nth-child(6) a:before {
  content: "\f0c6";
}
.protocollo_form_tabs ul.ui-tabs-nav li:nth-child(7) a:before {
  content: "\f044";
}
.protocollo_form_tabs ul.ui-tabs-nav li:nth-child(8) a:before {
  content: "\f121";
}
.protocollo_form_tabs li.ui-tabs-active {
  border-top: 3px solid #5078b1;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  margin-right: 2px;
}
.protocollo_form_tabs li.ui-tabs-active .ui-tabs-anchor {
  margin-right: 0 !important;
}
.protocollo_form_tabs .btn_seedoo {
  margin-top: 12px !important;
}
.protocollo_form_tabs .oe_list {
  overflow-x: hidden !important;
}
.container_messaggi_pec .oe_module_vignette {
  padding: 0;
}
.container_messaggi_pec .oe_kanban_record {
  display: block !important;
  margin-bottom: 20px !important;
}
.container_messaggi_pec h3 {
  margin: 10px 0 0 0;
  text-transform: uppercase;
}
.tab-allegati .btn_carica_documenti {
  margin: 12px 0 10px 2px !important;
}
.button-form-protocollo,
.tab-sr .oe_kanban_buttons .oe_kanban_button_new.oe_highlight {
  background: steelblue !important;
  color: #fff;
  border: 1px solid #999 !important;
  width: 180px;
  font-size: 12px !important;
  padding: 2px !important;
  text-align: center;
  font-weight: normal !important;
  line-height: 24px !important;
  height: 30px !important;
  margin-left: 2px;
}
.button-form-protocollo:hover,
.tab-sr .oe_kanban_buttons .oe_kanban_button_new.oe_highlight:hover {
  background-color: #ccc !important;
  color: #333 !important;
}
.oe_highlight_positive.button-form-protocollo,
.tab-sr .oe_kanban_buttons .oe_kanban_button_new.oe_highlight {
  width: 180px !important;
  color: #fff !important;
  border: 0 !important;
  background-color: steelblue !important;
  min-width: 180px;
}
.oe_highlight_positive.button-form-protocollo:before,
.tab-sr .oe_kanban_buttons .oe_kanban_button_new.oe_highlight:before {
  color: #fff;
}
.oe_highlight_positive.button-form-protocollo:hover {
  background-color: #999 !important;
}
.protocollo_registration_container {
  margin: 0 30%;
}
.protocollo_registration_container ul {
  list-style: none;
  padding: 10px;
}
.protocollo_registration_container ul li {
  margin-bottom: 20px;
  margin-top: 10px;
}
.protocollo_registration_container strong {
  text-transform: uppercase;
}
.protocollo_registration_container .fa {
  min-width: 20px;
}
.protocollo_registration_container .fa-check-circle {
  color: green;
}
.protocollo_registration_container .fa-exclamation-triangle {
  color: darkorange;
}
.protocollo_registration_container footer {
  text-align: center;
}
.oe_form_editable label.seedoocustom_protocollo_server_pec_id {
  margin-left: 50px;
}
.oe_form_editable label.seedoocustom_protocollo_server_sharedmail_id {
  margin-left: 50px;
}
.oe_form_editable label.seedoocustom_protocollo_receiving_date {
  margin-left: 50px;
}
.oe_form_editable label.seedoocustom_protocollo_body {
  margin-left: 50px;
}
.oe_form_readonly label.seedoocustom_protocollo_server_pec_id {
  margin-left: 95px;
}
.oe_form_readonly label.seedoocustom_protocollo_server_sharedmail_id {
  margin-left: 95px;
}
.oe_form_readonly label.seedoocustom_protocollo_receiving_date {
  margin-left: 95px;
}
.oe_form_readonly label.seedoocustom_protocollo_body {
  margin-left: 95px;
}
.container_classification {
  width: 280px !important;
  padding: 8px !important;
  position: relative;
  height: 100px;
  margin-top: 15px;
  background: #f3f3f3;
  margin-bottom: 15px;
  margin-left: 3px;
}
.container_classification .oe_form_char_content {
  color: #666 !important;
  text-decoration: none !important;
  font-weight: bold;
  position: absolute;
  left: 10px;
  right: 10px;
  height: 85px;
}
.container_classification .oe_form_char_content:hover {
  background-color: transparent;
}
.container_classification .oe_form_char_content:before {
  content: "\f0e8";
  font-family: FontAwesome, sans-serif;
  border: 1px solid #eee;
  background: white;
  padding: 5px 10px;
  font-size: 26px;
  color: #ccc;
  float: left;
  margin-right: 10px;
}
.container_aggiungi_classificazione_step1 div.oe_horizontal_separator {
  font-size: 16px;
  color: #333 !important;
}
.container_aggiungi_classificazione_step1 .assignee_items .oe_form_uri {
  font-size: 16px;
}
.container_aggiungi_classificazione_step1 .assignee_items .oe_form_uri:before {
  content: "\f007";
  font-family: FontAwesome, sans-serif;
  margin-right: 10px;
  font-size: 16px;
  color: #2271b3;
}
.container_aggiungi_classificazione_step1 .oe_form_group_cell + .oe_form_group_cell {
  padding: 0 !important;
}
.container_aggiungi_classificazione_step1 button {
  width: 120px;
}
.tree_aggiungi_assegnatari .ztree li span.button.ico_docu:before,
.tree_aggiungi_assegnatari .ztree li span.button.class_employee_ico_docu:before {
  content: "\f007" !important;
}
.tree_aggiungi_assegnatari .ztree li span.button.ico_open:before,
.tree_aggiungi_assegnatari .ztree li span.button.ico_close:before,
.tree_aggiungi_assegnatari .ztree li span.button.class_department_ico_open:before,
.tree_aggiungi_assegnatari .ztree li span.button.class_department_ico_close:before,
.tree_aggiungi_assegnatari .ztree li span.button.class_department_ico_docu:before {
  content: "\f1ad" !important;
}
.ztree li span {
  font-family: "Work Sans", sans-serif !important;
}
.ztree li span.button.ico_docu,
.ztree li span.button.class_employee_ico_docu,
.ztree li span.button.class_department_ico_docu {
  background: none;
  color: #ccc;
}
.ztree li span.button.ico_docu:before,
.ztree li span.button.class_employee_ico_docu:before,
.ztree li span.button.class_department_ico_docu:before {
  font-family: FontAwesome, sans-serif;
  content: "\f15b";
  font-size: 12px;
  line-height: 18px;
  padding-left: 4px;
}
.ztree li span.button.ico_open,
.ztree li span.button.ico_close,
.ztree li span.button.class_department_ico_open,
.ztree li span.button.class_department_ico_close {
  background: none;
  color: #ccc;
}
.ztree li span.button.ico_open:before,
.ztree li span.button.ico_close:before,
.ztree li span.button.class_department_ico_open:before,
.ztree li span.button.class_department_ico_close:before {
  font-family: FontAwesome, sans-serif;
  content: "\f07b";
  font-size: 12px;
  line-height: 18px;
  padding-left: 4px;
}
.ztree li span.button.ico_open:before,
.tree_aggiungi_assegnatari .ztree li span.button.ico_open:before {
  color: #666;
}
.ztree li span.button.chk.radio_true_full {
  border-radius: 6px;
  border: 2px solid #ccc;
  background: none;
  background: #679b41;
  margin: 0;
  background-size: contain;
  padding: 3px;
}
.ztree li span.button.chk.radio_false_full_focus:hover,
.ztree li span.button.chk.radio_true_full_focus:hover {
  background-color: #99c569 !important;
  background-position: -100px -100px !important;
  -webkit-border-radius: 6px !important;
  -moz-border-radius: 6px !important;
  border-radius: 6px !important;
  border: 1px solid #ccc;
}
.ztree li span.button.chk.radio_true_full + a {
  background-color: #ededed;
  font-weight: bold;
  padding: 1px 3px;
}
.ztree li span.button.chk.radio_false_full {
  background: none;
  border: 1px solid #666;
  border-radius: 6px;
}
.ztree li span.button.chk.radio_false_full:before {
  color: darkgreen;
}
.ztree li span.button.chk.radio_false_full:hover {
  background: none !important;
  border: 1px solid darkgreen !important;
  border-radius: 6px !important;
}
/** Ottimizzazione Filtri per le viste **/
.oe_searchview_savefilter,
.oe_searchview_advanced,
.oe_searchview_dashboard {
  text-align: right;
  margin-top: 5px;
  margin-bottom: 5px;
  overflow: inherit !important;
  padding-right: 5px;
  color: #806faa;
  font-size: 10px;
  display: block;
}
.oe_searchview_savefilter h4,
.oe_searchview_advanced h4,
.oe_searchview_dashboard h4 {
  padding: 0 !important;
  line-height: 20px;
  font-size: 11px;
  display: block !important;
}
.oe_searchview_drawer_container .oe_opened {
  width: 670px;
  float: right;
  margin-top: 5px;
  margin-bottom: 5px;
  background-color: #ccc;
  opacity: 0.85;
  border: 1px solid #a5a5a5;
}
.oe_searchview_drawer .col-md-7 {
  width: 83.33333333%;
}
.oe_searchview_drawer .col-md-5 {
  width: 16.66666667%;
}
.oe_searchview_filters.oe_searchview_section > dl > dt {
  font-size: 12px;
  width: 80px;
}
.oe_searchview_filters.oe_searchview_section .dl-horizontal {
  /*
    dd:nth-child(2), dd:nth-child(6)   {
      float: left;
      margin-left: 0;
      width: 250px;
    }

    dt:nth-child(3), dt:nth-child(7) {
      width: 80px !important;
      margin-left: 30px;
    }*/
}
.oe_searchview_filters.oe_searchview_section .dl-horizontal dd {
  margin-left: 110px;
}
.oe_searchview_filters.oe_searchview_section .dl-horizontal dt {
  clear: none;
  text-align: left;
  margin-left: 10px;
  width: 100px;
}
.oe_searchview_filters.oe_searchview_section li {
  padding: 0 5px !important;
  font-size: 11px;
  line-height: 20px;
  margin-right: 2px !important;
  color: #666;
  border: 1px solid #ddd;
}
.oe_searchview_filters.oe_searchview_section li.badge {
  line-height: 21px !important;
  font-size: 11px !important;
  color: #ddd;
}
.protocollo-accordion-toggle {
  cursor: pointer;
  text-transform: uppercase;
  color: #666;
  border-bottom: 1px solid #ccc;
  font-size: 16px;
  position: relative;
  padding: 5px 10px 5px 0;
  background: #fff !important;
}
.protocollo-accordion-toggle h4::after {
  content: "+";
  position: absolute;
  right: 0;
  top: 0;
  display: block;
  width: 3em;
  height: 3em;
  line-height: 2;
  text-align: center;
  -webkit-transition: all .35s;
  -o-transition: all .35s;
  transition: all .35s;
}
.protocollo-accordion-toggle .accordion-selected h4::after {
  transform: rotate(315deg);
}
.oe_form_accordion_tab_invalid {
  color: #c00;
}
div.dati-protocollo-container {
  margin-top: 10px;
}
div.dati-protocollo-container h4 {
  color: #afafaf;
}
div.dati-protocollo-container h4:before {
  font-family: FontAwesome;
  margin-right: 10px;
}
#protocollo-container h4:before {
  content: "\f0e3";
}
#documento-container {
  margin-bottom: 0;
}
#documento-container h4:before {
  content: "\f0f6";
}
#emergenza-container {
  margin-top: 30px;
  margin-bottom: 20px;
}
#emergenza-container h4:before {
  content: "\f0fa";
}
#anteprima-container {
  margin: 0 0 30px 0;
}
#anteprima-container .protocollo-accordion-toggle.button-form-protocollo {
  background-color: steelblue !important;
}
#anteprima-container .protocollo-accordion-toggle.button-form-protocollo h4 {
  color: white;
}
#anteprima-container .protocollo-accordion-toggle.button-form-protocollo:hover {
  background-color: #666 !important;
}
#anteprima-container h4 {
  line-height: 20px;
  margin: 0;
  font-weight: normal;
}
#anteprima-container h4:before {
  content: "\f1c1";
  color: #f00;
}
#anteprima-container h4:after {
  content: "";
}
#mittente-container h4:before {
  content: "\f007";
}
.accordion-content {
  display: none;
}
.accordion-content.accordion-open {
  display: block;
}
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}
.sidenav a:hover {
  color: #f1f1f1;
}
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}
