.openerp .oe_highlight_warning {
  color: white;
  background: #DC5F59;
}
.openerp button.oe_highlight_warning {
  color: white;
  background-color: #c02c2c;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#df3f3f), to(#a21a1a));
  background-image: -webkit-linear-gradient(top, #df3f3f, #a21a1a);
  background-image: -moz-linear-gradient(top, #df3f3f, #a21a1a);
  background-image: -ms-linear-gradient(top, #df3f3f, #a21a1a);
  background-image: -o-linear-gradient(top, #df3f3f, #a21a1a);
  background-image: linear-gradient(to bottom, #df3f3f, #a21a1a);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 1px rgba(155, 155, 155, 0.4) inset;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 1px rgba(155, 155, 155, 0.4) inset;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 1px rgba(155, 155, 155, 0.4) inset;
}

.openerp .oe_highlight_positive {
  color: white;
  background: #3d8cff;
}
.openerp button.oe_highlight_positive {
  color: white;
  background-color: #3d8cff;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#729fcf), to(#3465a4));
  background-image: -webkit-linear-gradient(top, #729fcf, #3465a4);
  background-image: -moz-linear-gradient(top, #729fcf, #3465a4);
  background-image: -ms-linear-gradient(top, #729fcf, #3465a4);
  background-image: -o-linear-gradient(top, #729fcf, #3465a4);
  background-image: linear-gradient(to bottom, #729fcf, #3465a4);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 1px rgba(155, 155, 155, 0.4) inset;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 1px rgba(155, 155, 155, 0.4) inset;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 1px rgba(155, 155, 155, 0.4) inset;
}

.gedoc_header{
  background-color: #f0f0f0;
  border: solid 1px #a0a0a0;
  padding: 5px;

}

.openerp .oe_form .field_binary{
  min-width: 300px!important;
  margin-right: 5px!important;
  height: 26px!important;
}

.button_gedoc_header{
  width: 30%;
}