<?xml version="1.0" encoding="UTF-8"?>
<!-- This file is part of Seedoo.  The COPYRIGHT file at the top level of
this module contains the full copyright notices and license terms. -->

<openerp>
    <data>

        <menuitem name="Protocollo" id="menu_root_protocollo" sequence="20" groups="group_protocollo_user"/>

        <menuitem name="Documenti" parent="menu_root_protocollo"
                  id="protocollo_doc" sequence="10"/>

        <menuitem name="Archivistica" parent="menu_root_protocollo"
                  id="protocollo_protocollo_menu" sequence="30"/>

        <menuitem name="Gestione Registri" parent="menu_root_protocollo"
                  id="protocollo_registry_menu" sequence="40"/>

        <menuitem name="Configurazione" parent="menu_root_protocollo"
                  id="protocollo_configuration" sequence="100"
                  groups="group_protocollo_user"/>

        <!--<menuitem action="protocollo_protocollo_in_act"-->
                  <!--parent="protocollo_doc_in"-->
                  <!--id="protocollo_protocollo_in_menu" sequence="10"/>-->

        <!-- Documenti-->

        <menuitem name="Registrati" action="protocollo_protocollo_act"
                  parent="protocollo_doc"
                  id="protocollo_protocollo_notified_menu" sequence="10"
                  groups="group_vedi_menu_protocolli_registrati"/>

        <menuitem name="Bozze" action="protocollo_protocollo_draft_act"
                  parent="protocollo_doc"
                  id="protocollo_protocollo_draft_menu" sequence="20"
                  groups="group_vedi_menu_protocolli_bozze"/>

        <menuitem name="Crea Bozza" action="protocollo_create_action"
                  parent="protocollo_doc"
                  id="crea_protocollo_menu" sequence="30"
                  groups="group_crea_protocollo_ingresso,group_crea_protocollo_uscita"/>

        <menuitem name="PEC" action="protocollo_pec_act" sequence="40"
                  parent="protocollo_doc" id="protocollo_pec_menu"
                  groups="group_pec_protocollo"/>

        <menuitem name="E-mail" action="protocollo_sharedmail_act" sequence="50"
                  parent="protocollo_doc" id="protocollo_sharedmail_menu"
                  groups="group_sharedmail_protocollo"/>

        <menuitem name="Richieste Protocollo" action="protocollo_protocollo_out_draft_others_act"
                  parent="protocollo_doc"
                  id="protocollo_protocollo_out_draft_others_menu" sequence="60"
                  groups="group_vedi_menu_richieste_protocollo"/>

        <menuitem name="Archiviati" action="protocollo_protocollo_archiviati_act"
                  parent="protocollo_doc"
                  id="protocollo_protocollo_archiviati_menu" sequence="10"
                  groups="group_vedi_menu_protocolli_registrati"/>
        <!--Protocollo-->
        <!--
        <menuitem action="protocollo_protocollo_not_classified_act"
                  parent="protocollo_protocollo_menu"
                  id="protocollo_protocollo_not_classified_menu" sequence="5"/>

        <menuitem action="protocollo_protocollo_not_dossier_act"
                  parent="protocollo_protocollo_menu"
                  id="protocollo_protocollo_not_dossier_menu" sequence="10"/>
        <menuitem action="protocollo_registry_act"
                  parent="protocollo_protocollo_menu"
                  id="protocollo_registry_menu"
                  sequence="15"/>
        -->

        <menuitem action="protocollo_journal_act"
                  parent="protocollo_registry_menu"
                  id="protocollo_journal_menu"
                  groups="group_configurazione_giornaliero"
                  sequence="20"/>

        <menuitem
                icon="STOCK_EXECUTE"
                name="Crea Registro"
                action="protocollo_journal_action"
                id="menu_protocollo_journal_create"
                groups="group_configurazione_giornaliero"
                parent="protocollo_journal_menu"/>

        <menuitem action="protocollo_emergency_registry_act"
                parent="protocollo_registry_menu"
                id="protocollo_emergency_registry_menu"
                groups="group_configurazione_emergenza"
                sequence="30"/>

        <menuitem
                icon="STOCK_EXECUTE"
                name="Crea Registro"
                action="protocollo_emergency_registry_action"
                id="menu_protocollo_emergency_registry_create"
                groups="group_configurazione_emergenza"
                parent="protocollo_emergency_registry_menu"/>

        <!--<menuitem name="Organigramma"-->
                  <!--id="protocollo_menu_organigramma"-->
                  <!--parent="protocollo_protocollo_menu"-->
                  <!--action="action_organigramma"-->
                  <!--sequence="45"/>-->

        <menuitem action="protocollo_classification_act"
                  parent="protocollo_protocollo_menu"
                  id="protocollo_classification_menu"
                  name="Titolario"
                  sequence="50"/>

        <menuitem action="protocollo_dossier_read_act"
                  parent="protocollo_protocollo_menu"
                  id="protocollo_dossier_read_menu"
                  name="Fascicoli"
                  sequence="60"/>


        <!-- Configurazione-->
        <menuitem name="AOO" id="protocollo_aoo_menu"
                  action="protocollo_aoo_action"
                  groups="group_configurazione_aoo"
                  parent="protocollo_configuration"
                  sequence="10"/>

        <menuitem name="Archivio" id="protocollo_archivio_menu"
                  action="protocollo_archivio_action"
                  groups="group_configurazione_archivio"
                  parent="protocollo_configuration"
                  sequence="15"/>

        <menuitem name="Mezzi di Trasmissione"
                  action="protocollo_typology_act"
                  id="protocollo_typology_menu"
                  groups="group_configurazione_mezzi_trasmissione"
                  parent="protocollo_configuration"
                  sequence="20"/>

        <menuitem name="Titolario"
                  action="protocollo_classification_def_act"
                  parent="protocollo_configuration"
                  id="protocollo_configuration_classification_menu"
                  groups="group_configurazione_titolario"
                  sequence="30"/>

        <menuitem name="Utenti" action="action_res_users_protocollo"
                  parent="protocollo_configuration"
                  id="protocollo_configuration_user"
                  groups="group_configurazione_utenti"
                  sequence="40"/>

        <menuitem name="Uffici" action="hr.open_module_tree_department"
                  parent="protocollo_configuration"
                  id="protocollo_configuration_department"
                  groups="group_configurazione_uffici"
                  sequence="50"/>

        <menuitem name="Dipendenti" action="hr.open_view_employee_list_my"
                  parent="protocollo_configuration"
                  id="protocollo_configuration_employee"
                  groups="group_configurazione_dipendenti"
                  sequence="60"/>

        <menuitem name="Email/PEC"
                  parent="protocollo_configuration"
                  id="protocollo_configuration_email_pec"
                  sequence="70"/>

        <menuitem name="Parametri Generali" action="protocollo_config_settings_act"
                  parent="protocollo_configuration"
                  id="protocollo_configuration_menu"
                  groups="group_configurazione_parametri"
                  sequence="90"/>



        <menuitem name="Server in Ingresso" action="fetchmail.action_email_server_tree"
                  parent="protocollo_configuration_email_pec"
                  id="protocollo_configuration_fetchmail_server"
                  groups="group_configurazione_email_pec"
                  sequence="1"/>

        <menuitem name="Server in Uscita" action="base.action_ir_mail_server_list"
                  parent="protocollo_configuration_email_pec"
                  id="protocollo_configuration_mail_server"
                  groups="group_configurazione_email_pec"
                  sequence="2"/>

        <menuitem name="Alias" action="mail.action_view_mail_alias"
                  parent="protocollo_configuration_email_pec"
                  id="protocollo_configuration_alias"
                  groups="group_configurazione_email_pec"
                  sequence="3"/>

    </data>
</openerp>